@page "/"


<h2 class="pb-2">Blazor Components</h2>
<p class="pb-2 mw-1100">
    Our Blazor UI components will help you create intuitive and highly-refined user experiences for both Blazor Server (ASP.NET Core) and Blazor WebAssembly hosting models.
</p>

<h4>Samples to test:</h4>
<ul>
    <li><a href="/timepicker">Time Picker</a></li>
</ul>

